@model IEnumerable<MvcBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Frase del mes: @ViewBag.FraseDelMes</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    Html.RenderPartial("Details", item);
}
